[user]
	name = Jason Choi
	email = 76135976+Jasonrchoi@users.noreply.github.com
  [core]
      editor = vim
      autocrlf = false
      safecrlf = true
[alias]
      co = checkout
      ci = commit
      st = status
      br = branch
      hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
      type = cat-file -t
      dump = cat-file -p
[merge "ours"]
    driver = true
[credential "https://github.com"]
    username = Jasonrchoi
[open "default"]
    remote = upstream
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
